<h1><%= @place["name"]%></h1>

<ul>
  <% for post in @posts %>
      <h1><%= post["title"] %></h1>
      <h4>Posted on: <%= post["created_at"]%></h4>
      <p><%= post["description"] %></p>
    </li>
  <% end %>
</ul>




<p>
  <a href="/posts/new?place_id=<%= @place["id"]%>">New <%= @place["name"]%> Post</a>
</p>

<p>
  <a href="/places">Back to All Places</a>
</p>
